<ion-view view-title="Add KeyFrame">
<ion-content>
  <div class="list list-inset">
    <label class="item item-input">
      <input type="number" placeholder="Time">
    </label>
    <label class="item item-input">
      <input type="number" placeholder="Position">
    </label>
    <label class="item item-input">
      <input type="number" placeholder="Pan Angle">
    </label>
    <label class="item item-input">
      <input type="number" placeholder="Tilt Angle">
    </label>
  </div>
</ion-content>
</ion-view>
