<ion-view view-title="Add KeyFrame">
<ion-content>
  <div class="list list-inset">
    <label class="item item-input">
      <span class="input-label">Time</span>
      <input type="number" ng-model="newFrame.time">
    </label>
    <label class="item item-input">
      <span class="input-label">Position</span>
      <input type="number" ng-model="newFrame.position">
    </label>
    <label class="item item-input">
      <span class="input-label">Pan Angle</span>
      <input type="number" ng-model="newFrame.panAngle">
    </label>
    <label class="item item-input">
      <span class="input-label">Tilt Angle</span>
      <input type="number" ng-model="newFrame.tiltAngle">
    </label>
    <button class="button button-block button-calm" ng-click="addKeyframe()">
      Add
    </button>
  </div>
</ion-content>
</ion-view>
