<ion-view view-title="Favorites">

  <ion-content>

    <div class="list list-inset">
      <div class="item card" ng-repeat="fav in favorites()">
	<ion-item on-touch="toggleShowFav($index)">
	  {{ fav.name }}
	</ion-item> 
        </br>
	<span ng-show="showFav($index)">
	  <dslr-keyframes keyframes="fav.keyframes"
			  hold="alert"
			  touch="toggleShowKeyframes"
			  show="showKeyframes">
	  </dslr-keyframes>
	  </br>
	  <div class="row">
	    <div class="col">
	     Total Duration:
	    </div>
	    <div class="col">
	      {{ getDuration($index) }}
	    </div>
	  </div>
	</span>
	<button class="button button-block button-calm" 
		on-touch="loadFavorite($index)">
	  Load 
	</button>
	<!--<button class="button button-block button-energized"
		on-touch="edit($index)">
	  Edit
	</button>-->

	<button class="button button-block button-calm"
		on-touch="saveRemotely($index)">
	  Save Keyframe Set Remotely
	</button>
	<button class="button button-block button-assertive" 
		on-touch="deleteFavorite($index)">
	  Delete
	</button>

      </div>

      <button class="button button-block button-calm"
	      on-touch="getFavorites()">
	Get Backed Up Favorites 
      </button>
    </div>

  </ion-content>

</ion-view>
