<ion-view view-title="Keyframes">
  <ion-content>
    <div class="list list-inset">
      <ion-list class="list card">
	<ion-item ng-repeat="keyframe in keyframes" href="#/app/keyframes/{{keyframeid}}">
          Time: {{keyframe.time}} </br>
	  Position: {{keyframe.position}} </br>
	  Pan Angle: {{keyframe.panAngle}} </br>
	  Tilt Angle: {{keyframe.tiltAngle}} </br>
	</ion-item>
	<ion-item>Total Duration: {{totalDuration}}</ion-item>
      </ion-list>
      <button class="button button-block button-calm" ng-click="addKeyframe()">
	Add Keyframe
      </button>      
      <button ng-disabled="!ready" class="button button-block button-calm" ng-click="send()">
	Send Keyframes!
      </button>
    </div>
  </ion-content>
</ion-view>

