<ion-view view-title="Keyframes">
  <ion-content>
    <div class="list list-inset">
      <dslr-keyframes keyframes="keyframes()"
                      hold="edit"
		      touch="toggleShow"
		      show="getShow">
      </dslr-keyframes>
      </br>
      <ion-item> 
	<div class="row">
	  <div class="col">
	    Total Duration: 
	  </div>
	  <div class="col">
	    {{totalDuration}}
	  </div>
	</div>
      </ion-item>
      <button class="button button-block button-calm" ng-click="addKeyframe()">
	Add Keyframe
      </button>      
      <button ng-disabled="!ready()" class="button button-block button-calm" ng-click="send()">
	Send Keyframes!
      </button>
      <!-- Bluetooth pairing interface -->
      <button class="button button-block button-energized" ng-click="pairCarriage()">
	Pair DSLR Dolly
      </button>
      <!--<button class="button button-block button-energized" ng-click="disconnect()">
	Disconnect Bluetooth
      </button>-->
      <!-- Keyframe stuff -->
      <button class="button button-block button-calm" ng-click="clearFrames()">
	Clear KeyFrames
      </button>
      <button class="button button-block button-calm" 
	      ng-click="saveToFavorites()"
	      ng-disabled="!favoritesReady()">
	Save to Favorites
      </button>
      <button class="button button-block button-calm" 
	      ng-click="toFavorites()">
	View Favorites
      </button>
    </div>
  </ion-content>
</ion-view>

