<ion-view view-title="Keyframes">
  <ion-content>
    <div class="list list-inset">
      <dslr-keyframes keyframes="keyframes()"
                      hold="remove"
		      touch="toggleShow"
		      show="getShow">
      </dslr-keyframes>
      </br>
      <ion-item> Total Duration: {{totalDuration}}</ion-item>
      <button class="button button-block button-calm" ng-click="addKeyframe()">
	Add Keyframe
      </button>      
      <button ng-disabled="!ready()" class="button button-block button-calm" ng-click="send()">
	Send Keyframes!
      </button>
      <!-- Bluetooth pairing interface -->
      <button class="button button-block button-energized" ng-click="pairCarriage()">
	Pair DSLR Dolly
      </button>
      <!--<button class="button button-block button-energized" ng-click="disconnect()">
	Disconnect Bluetooth
      </button>-->
      <!-- Keyframe stuff -->
      <button class="button button-block button-calm" ng-click="clearFrames()">
	Clear KeyFrames
      </button>
      <button class="button button-block button-calm" ng-click="toFavorites()">
	View Favorites
      </button>
    </div>
  </ion-content>
</ion-view>

